extends ../templates/universal.pug
block vars
    - var page = {};
    - page.title = 'Info';
    - page.description = 'The information or about page.';
    - page.url = 'info.html';
block content
    section
        h1 Info
        p This is a lovely web-log.
        p.
            Welcome to my web-log.
        p.
            This site is generated from Pug templates and Markdown files for the posts.
            Wunderbar.

